<div class="flex flex-row justify-start items-start">
<div class="font-semibold text-lg ml-10 mt-4" style="font-size: 24px; font-family: 'Lato', sans-serif;">
    Dioceses Map
</div>
</div>
<div class="flex flex-row w-full justify-start items-start mt-5">
    <div style="width: 300px;" class="ml-3">
        <app-filter></app-filter>
    </div>
        <div class="w-full flex flex-col justify-around items-center relative">
            <div style="flex-shrink: 0;">
            <!--
            <google-map [options]="mapOptions" width = "1000px" height="600px">
                    <map-circle
                        [center]="{lat: item.latitude, lng: item.longitude}"
                        [radius]="300"
                        [options]="{
                            strokeColor: getCircleColor(item.diocese_reg),
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: getCircleColor(item.diocese_reg),
                            fillOpacity: 0.8
                        }"
                        (circleClick)="clickMap(item)"
                        (circleMouseover)="showInstDetail($event, item)"
                        (circleMouseout)="hideInstDetail()"
                    ></map-circle>
                }
            </google-map> -->
            <div class="flex flex-row items-center gap-3 mb-2">
              <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 200px;">
                <mat-label>Colour by</mat-label>
                <mat-select [(ngModel)]="groupBy" (selectionChange)="onGroupChange()">
                  @for (opt of groupOptions; track opt.value) {
                    <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <app-map-vis [data]="data"
                [isOpen]="true"
                [legend]="legend"
                label="Dioceses"
                [options]="{
                    zoom: 4.4,
                    mode: 'point',
                    modeControl: true,
                    center: { lat: 39, lng: -98 },
                    size: { width: '1000px', height: '600px' }
                }">
            </app-map-vis>
            </div>
            <div class="absolute top-0 right-50 m-2" style="width: 300px;">
                <mat-card *ngIf="instDetailVisible">
                    <mat-card-content>
                        <div>
                            <b>Institution Name:</b> {{ instDetailData.instName }}
                        </div>
                        <div>
                            <b>Institution Type:</b> {{ instDetailData.instType }}
                        </div>
                        <div>
                            <b>Diocese:</b> {{ instDetailData.diocese }}
                        </div>
                        <div>
                            <b>Year:</b> {{ instDetailData.year }}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="flex flex-col justify-center items-center">
        <div style="position: relative; z-index: 1000;">
            <div class="flex flex-row justify-center items-center">
            <div>
                <span>Year: {{year}}</span>
            </div>
            @if (!isPlaying) {
                <button mat-fab class="flex flex-col mx-5" (click)="togglePlay()">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            }
            @else {
                <button mat-fab class="flex flex-col" (click)="togglePlay()">
                    <mat-icon>pause</mat-icon>
                </button>
            }
            <div>
            <mat-slider class="mx-2" style="width:200px; width:600px; position: relative; z-index: 1001;" [min]="yearMin" [max]="yearMax" step="1" discrete>
                <input value="{{year}}" (change)="getData()" [(ngModel)]="year" matSliderThumb >
            </mat-slider>
            <div class="flex flex-row justify-between" style="font-size: 14px; margin-top: 2px;">
                <span>{{ yearMin }}</span>
                <span>{{ (yearMax - yearMin) / 3 + yearMin}}</span>
                <span>{{ (yearMax - yearMin) / 3 * 2 + yearMin}}</span>
                <span>{{ yearMax }}</span>
            </div>
            </div>
        </div>
        </div>
</div>