<!-- Wide Display -->
@if (!isMobile) {
<div class="flex flex-row justify-start items-start">
<div class="font-semibold text-lg ml-10 mt-4" style="font-size: 24px; font-family: 'Lato', sans-serif;">
    Institutions Map
</div>
</div>
<div class="flex flex-row w-full justify-start items-start mt-5">
    <div style="width: 300px;" class="ml-3">
        <app-filter></app-filter>
    </div>
    <div class="w-full flex flex-col justify-around items-center relative">
        <div #instMap style="flex-shrink: 0;">
        <div class="flex flex-row items-center gap-3 mb-2">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 200px;">
            <mat-label>Colour by</mat-label>
            <mat-select [(ngModel)]="groupBy" (selectionChange)="onGroupChange()">
              @for (opt of groupOptions; track opt.value) {
                <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <app-map-vis
            [data]="data"
            [isOpen]="true"
            [legend]="legend"
            label="Institutions"
            [options]="mapOptions">
        </app-map-vis>
        </div>
        <div class="absolute top-0 right-50 m-2" style="width: 300px; z-index: 1000;">
            <mat-card *ngIf="instDetailVisible">
                <mat-card-content>
                    <div>
                        <b>Institution Name:</b> {{ instDetailData.instName }}
                    </div>
                    <div>
                        <b>Institution Type:</b> {{ instDetailData.instType }}
                    </div>
                    <div>
                        <b>Diocese:</b> {{ instDetailData.diocese }}
                    </div>
                    <div>
                        <b>Year:</b> {{ instDetailData.year }}
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flex flex-col justify-center items-center">
        <div>
            <div class="flex flex-row justify-center items-center" >
            <div>
                <span>Year: {{year}}</span>
            </div>
            @if (!isPlaying) {
                <button mat-fab class="flex flex-col mx-5" (click)="togglePlay()">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            }
            @else {
                <button mat-fab class="flex flex-col" (click)="togglePlay()">
                    <mat-icon>pause</mat-icon>
                </button>
            }
            <div style="position: relative; z-index: 1001;">
            <mat-slider class="mx-2" style="width:200px; width:600px" [min]="yearMin" [max]="yearMax" step="1" discrete>
                <input value="{{year}}" (input)="year = $any($event.target).value; getData()" [(ngModel)]="year" matSliderThumb >
            </mat-slider>
            <div class="flex flex-row justify-between" style="font-size: 14px; margin-top: 2px;">
                <span>{{ yearMin }}</span>
                <span>{{ (yearMax - yearMin) / 3 + yearMin}}</span>
                <span>{{ (yearMax - yearMin) / 3 * 2 + yearMin}}</span>
                <span>{{ yearMax }}</span>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
}

<!-- Mobile Display -->
@if (isMobile) {
<div class="flex flex-row justify-start items-start">
<div class="font-semibold text-lg ml-10 mt-4" style="font-size: 24px; font-family: 'Lato', sans-serif;">
    Institutions Map
</div>
</div>
<div class="flex flex-col w-full justify-start items-start mt-5">
    <div style="width: 300px;" class="ml-3">
        <app-filter></app-filter>
    </div>
    <div class="w-full flex flex-col justify-around items-center relative">
        <div #instMap style="flex-shrink: 0;" class="my-5">
        <div class="flex flex-row items-center gap-3 mb-2">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 200px;">
            <mat-label>Colour by</mat-label>
            <mat-select [(ngModel)]="groupBy" (selectionChange)="onGroupChange()">
              @for (opt of groupOptions; track opt.value) {
                <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <app-map-vis
            [data]="data"
            [isOpen]="true"
            [legend]="legend"
            label="Institutions"
            [options]="mapOptions">
        </app-map-vis>
        </div>
        <div class="absolute top-0 right-50 m-2" style="width: 300px; z-index: 1000;">
            <mat-card *ngIf="instDetailVisible">
                <mat-card-content>
                    <div>
                        <b>Institution Name:</b> {{ instDetailData.instName }}
                    </div>
                    <div>
                        <b>Institution Type:</b> {{ instDetailData.instType }}
                    </div>
                    <div>
                        <b>Diocese:</b> {{ instDetailData.diocese }}
                    </div>
                    <div>
                        <b>Year:</b> {{ instDetailData.year }}
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flex flex-col justify-center items-center">
        <div>
            <div class="flex flex-row justify-center items-center" >
            <div style="position: relative; z-index: 1001;">
            <mat-slider [style.width.px]="getSliderWidthMobile()" [min]="yearMin" [max]="yearMax" step="1" discrete>
                <input value="{{year}}" (input)="year = $any($event.target).value; getData()" [(ngModel)]="year" matSliderThumb >
            </mat-slider>
            <div class="flex flex-row justify-between" style="font-size: 14px; margin-top: 2px;">
                <span>{{ yearMin }}</span>
                <span>{{ (yearMax - yearMin) / 3 + yearMin}}</span>
                <span>{{ (yearMax - yearMin) / 3 * 2 + yearMin}}</span>
                <span>{{ yearMax }}</span>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
}